body{
    margin:0;
    color: white;
    background-color:#080e55;
}
.header h2{
    color: white;
    font-size: 3rem;
}
.header{
    display:flex;
    justify-content: flex-start;
    background: linear-gradient(#f30909, #080e55);
    padding-left: 3rem;
    gap: 8rem;
    align-items: center;
}
img{
    height: 6rem;
}

.gameBackground{
    background-color: #080e55;
}
.panel{
    height:auto;
    background-color: white;
    margin: auto 20rem;
    border-radius:1rem;
    padding-top: 0.01rem;
    padding-bottom: 0.5rem;
}
.questionContainer{
    background-color:#f30909;
    margin: 3rem;
    border-radius:1rem;
    height: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.answerContainer{
    background-color:#080e55;
    margin: 3rem;
    border-radius:1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
button{
    background-color: white;
    border-radius:1rem;
    color: black;
    padding:1rem;
    text-align: center;
    font-family:'Times New Roman';
    margin:0.5rem auto;
    width: 20rem;
}
button:hover{
    background-color:rgb(219, 226, 231);
}
button:active{
    background-color:rgb(193, 199, 203);
}
button:focus{
    background-color:rgb(219, 226, 231);
}
.score {
    color: black;
    text-align: center;
}

