body{
    margin:0;
    color: white;
    background-color:#080e55;
    font-family: 'Times New Roman', Times, serif;
}
.header h2{
    color: white;
    font-size: 3rem;
    padding-left: 6rem;
}
.header{
    display:flex;
    justify-content: flex-start;
    background: linear-gradient(#f30909, #080e55);
    padding-left: 3rem;
    gap: 8rem;
    align-items: center;
}
img{
    height: 6rem;
}
.gameBackground{
    background-color: #080e55;
}
.panel{
    height:auto;
    background-color: white;
    margin: auto 20rem;
    border-radius: 1rem;
    padding-top: 0.01rem;
    padding-bottom: 0.5rem;
    margin-bottom: 4rem;
}
.questionContainer{
    background-color:#f30909;
    margin: 1rem 2rem;
    padding: 0 2rem;
    border-radius:1rem;
    height: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.questionText{
    text-align: center;
}
.answerContainer{
    background-color:#080e55;
    margin: 2rem;
    border-radius:1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.answerTextDefault{
    background-color: white;
    border-radius:1rem;
    color: black;
    padding:1rem;
    text-align: center;
    font-family:'Times New Roman';
    margin:0.5rem auto;
    width: 20rem;
    font-weight: bold;
    font-size:medium;
}

.answerTextDefault:hover{
    background-color:rgb(219, 226, 231);
}

.answerTextGreen{
    background-color: rgb(13, 225, 59);
    border-radius:1rem;
    color: white;
    padding:1rem;
    text-align: center;
    font-family:'Times New Roman';
    margin:0.5rem auto;
    width: 20rem;
    font-weight: bold;
    font-size:medium;
}
.answerTextRed{
    background-color: rgb(198, 30, 30);
    border-radius:1rem;
    color: white;
    padding:1rem;
    text-align: center;
    font-family:'Times New Roman';
    margin:0.5rem auto;
    width: 20rem;
    font-weight: bold;
    font-size:medium;
}
.score {
    background-color: blue;
    width: 10rem;
    height: 4rem;
    border-radius: 1rem;
    font-weight: bold;
    text-align: center;
    font-size: larger;
    border-style: solid;
    border-color: black;
    border-width: 1.8px;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}
.navButton{
    border-radius: 1rem;
    background-color: blue;
    font-size: large;
    width: 8rem;
    height: 4rem;
    padding: 1rem;
    color: white
}
.navButton:hover{
    background-color: #080e55;
}

